/* Style the search button */
button#search-button.btn-primary {
    background-color: #007bff !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

/* Style the history buttons */
.btn-history.btn-primary {
    background-color: #ccc !important;
    color: #333 !important;
    border: none !important;
    padding: 5px 10px !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    margin-right: 5px !important;
}

/* Style the weather card with */
.card {
    box-shadow: 0 4px 8px 0 rgba(22, 3, 228, 0.2) !important;
    margin-bottom: 20px !important;
}

/* Style the card title */
.card-title {
    font-size: 30px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}

/* Style the card text */
.card-text {
    font-size: 16px !important;
    margin-bottom: 5px !important;
    margin-left: 0.5rem !important;
    padding: 1rem !important;
}

/* Style the forecast card */
.card.bg-primary {
    background-color: #2f2b53 !important;
    color: #fff !important;
    display: block !important;
    margin: 0 auto !important;
}

/* Center-align the icons vertically */
.card.bg-primary img {
    display: block !important;
    margin: 0 auto !important;
}

/* Style the forecast card on hover */
.card.bg-primary:hover {
    background-color: #89a132 !important;
}

/* Center-align the icons horizontally */
.card.bg-primary:hover img {
    display: block !important;
    margin: 0 auto !important;
}

/* Increase spacing between history buttons and add a space line */
.btn-history {
    margin-right: 10px !important;
    margin-bottom: 5px !important;
    border: 1px solid #ccc !important;
    padding: 5px 10px !important;
}

/* Change background and text color on hover */
.btn-history:hover {
    background-color: #3a3e44 !important;
    color: #fff !important;
}

/* Stylish search button */
#search-button {
    background-color: #007bff !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

/* Hover effect for the search button */
#search-button:hover {
    background-color: #0056b3 !important;
}

